.fa-envelope {
  color: white;
}

.fa-envelope:hover {
  color: #86818b
}

.fa-github{
  color: #6e5494;
}

.fa-github:hover {
  color: #3c2959;
}

.fa {
  margin: 5px 5px 20px 30px;
  display: inline-block;
  position: relative;
  height: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.f-cont {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #D1CAB0;
  height: auto;
}
