.logo {
  width: 100%;
  height: auto;
  background-color: transparent;
  }
.navbar-brand {
  width: 150px;
}

.container-fluid {
  background-color: #CCCCCC;
}

.active{
  background-color: #cdc6c6;
}

a.nav-item {
  color: blue;
  font-size: 24;
}
