{% load static from staticfiles %}
  <footer class="footer navbar-fixed-bottom">
    <div class="container f-cont">
      <i class="fa fa-copyright fa-2x">Matthew Rubenstein</i><a href="https://www.github.com/mrubes375"><i class="fa fa-github fa-3x hovercolor" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/matthew-rubenstein-06693bb5"><i class="fa fa-linkedin fa-3x hovercolor" aria-hidden="true"></i></a>
      <a href="mailto:matthew.rubenstein@uconn.edu"><i class="fa fa-envelope fa-3x hovercolor" aria-hidden="true"></i></a>
    </div>
  </footer>
