{% load staticfiles %}
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img class="logo" src="{% static "images/FragranceCollection_Logo.png" %}"></img></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="nav-item" href="/about">About</a></li>
          <li><a class="nav-item" href="/collection/">Collection</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a class="nav-item" href="#">Your Account</a></li>
        {% else %}
          <li><a class="nav-item" href="#">Login</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
